<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF9hFYedrQ7wbHLidkYcxLeI5Urqw8GjI</string>
	<key>GCM_SENDER_ID</key>
	<string>3172726271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.togetherTravel</string>
	<key>PROJECT_ID</key>
	<string>together-travel-2fafd</string>
	<key>STORAGE_BUCKET</key>
	<string>together-travel-2fafd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3172726271:ios:3c4027cc0de7d16db3a3ca</string>
</dict>
</plist>